Service References/ClientMessageService/MessageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd5" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" />
  <xs:complexType name="Security">
    <xs:sequence>
      <xs:element xmlns:q1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" minOccurs="0" name="Timestamp" nillable="true" type="q1:Timestamp" />
      <xs:element name="UsernameToken" nillable="true" type="tns:UsernameToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Security" nillable="true" type="tns:Security" />
  <xs:complexType name="UsernameToken">
    <xs:sequence>
      <xs:element name="Username" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsernameToken" nillable="true" type="tns:UsernameToken" />
</xs:schema>