Service References/ClientMessageService/MessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageService.FaultHandling" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageService.FaultHandling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultError">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultDetails" nillable="true" type="tns:FaultDetails" />
      <xs:element minOccurs="0" name="FaultString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultError" nillable="true" type="tns:FaultError" />
  <xs:complexType name="FaultDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultDetails" nillable="true" type="tns:FaultDetails" />
</xs:schema>