Service References/ClientMessageService/MessageServiceSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://www.ketenstandaard.nl/WS/MessageService/3.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageServiceSoap" targetNamespace="https://www.ketenstandaard.nl/WS/MessageService/3.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MessageServiceSoap_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.ketenstandaard.nl/WS/MessageService/3.0/Imports">
      <xsd:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd3" namespace="https://www.ketenstandaard.nl/WS/MessageService/3.0" />
      <xsd:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd4" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MessageService.FaultHandling" />
      <xsd:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd1" />
      <xsd:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService.Models.Enum" />
      <xsd:import schemaLocation="https://ws.oosterberg.nl/messageservice30/MessageService.svc?xsd=xsd5" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetMessageRequest">
    <wsdl:part name="MessageRequest" element="tns:MessageRequest" />
  </wsdl:message>
  <wsdl:message name="GetMessageRequest_Headers">
    <wsdl:part xmlns:q1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" name="Security" element="q1:Security" />
    <wsdl:part name="CustomInfo" element="tns:CustomInfo" />
  </wsdl:message>
  <wsdl:message name="GetMessageResponse">
    <wsdl:part name="MessageRequestResponse" element="tns:MessageRequestResponse" />
  </wsdl:message>
  <wsdl:message name="MessageServiceSoap_GetMessage_FaultErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MessageService.FaultHandling" name="detail" element="q2:FaultError" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageRequest">
    <wsdl:part name="MessageRequest" element="tns:MessageRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageRequest_Headers">
    <wsdl:part xmlns:q3="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" name="Security" element="q3:Security" />
    <wsdl:part name="CustomInfo" element="tns:CustomInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageResponse">
    <wsdl:part name="MessageResponse" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="MessageServiceSoap_DeleteMessage_FaultErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/MessageService.FaultHandling" name="detail" element="q4:FaultError" />
  </wsdl:message>
  <wsdl:message name="GetAvailableMessagesRequest">
    <wsdl:part name="AvailableMessagesRequest" element="tns:AvailableMessagesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableMessagesRequest_Headers">
    <wsdl:part xmlns:q5="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" name="Security" element="q5:Security" />
    <wsdl:part name="CustomInfo" element="tns:CustomInfo" />
  </wsdl:message>
  <wsdl:message name="GetAvailableMessagesResponse">
    <wsdl:part name="AvailableMessagesResponse" element="tns:AvailableMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="MessageServiceSoap_GetAvailableMessages_FaultErrorFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/MessageService.FaultHandling" name="detail" element="q6:FaultError" />
  </wsdl:message>
  <wsdl:message name="PostMessageRequest">
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="PostMessageRequest_Headers">
    <wsdl:part xmlns:q7="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" name="Security" element="q7:Security" />
    <wsdl:part name="CustomInfo" element="tns:CustomInfo" />
  </wsdl:message>
  <wsdl:portType name="MessageServiceSoap">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="messageservice/GetMessage" name="GetMessageRequest" message="tns:GetMessageRequest" />
      <wsdl:output wsaw:Action="https://www.ketenstandaard.nl/WS/MessageService/3.0/MessageServiceSoap/GetMessageResponse" name="GetMessageResponse" message="tns:GetMessageResponse" />
      <wsdl:fault wsaw:Action="https://www.ketenstandaard.nl/WS/MessageService/3.0/MessageServiceSoap/GetMessageFaultErrorFault" name="FaultErrorFault" message="tns:MessageServiceSoap_GetMessage_FaultErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <wsdl:input wsaw:Action="messageservice/DeleteMessage" name="DeleteMessageRequest" message="tns:DeleteMessageRequest" />
      <wsdl:output wsaw:Action="https://www.ketenstandaard.nl/WS/MessageService/3.0/MessageServiceSoap/DeleteMessageResponse" name="DeleteMessageResponse" message="tns:DeleteMessageResponse" />
      <wsdl:fault wsaw:Action="https://www.ketenstandaard.nl/WS/MessageService/3.0/MessageServiceSoap/DeleteMessageFaultErrorFault" name="FaultErrorFault" message="tns:MessageServiceSoap_DeleteMessage_FaultErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMessages">
      <wsdl:input wsaw:Action="messageservice/GetAvailableMessages" name="GetAvailableMessagesRequest" message="tns:GetAvailableMessagesRequest" />
      <wsdl:output wsaw:Action="https://www.ketenstandaard.nl/WS/MessageService/3.0/MessageServiceSoap/GetAvailableMessagesResponse" name="GetAvailableMessagesResponse" message="tns:GetAvailableMessagesResponse" />
      <wsdl:fault wsaw:Action="https://www.ketenstandaard.nl/WS/MessageService/3.0/MessageServiceSoap/GetAvailableMessagesFaultErrorFault" name="FaultErrorFault" message="tns:MessageServiceSoap_GetAvailableMessages_FaultErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <wsdl:input wsaw:Action="messageservice/PostMessage" name="PostMessageRequest" message="tns:PostMessageRequest" />
      <wsdl:output wsaw:Action="https://www.ketenstandaard.nl/WS/MessageService/3.0/MessageServiceSoap/PostMessageResponse" name="DeleteMessageResponse" message="tns:DeleteMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageServiceSoap" type="tns:MessageServiceSoap">
    <wsp:PolicyReference URI="#MessageServiceSoap_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="messageservice/GetMessage" style="document" />
      <wsdl:input name="GetMessageRequest">
        <soap:header message="tns:GetMessageRequest_Headers" part="Security" use="literal" />
        <soap:header message="tns:GetMessageRequest_Headers" part="CustomInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultErrorFault">
        <soap:fault use="literal" name="FaultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap:operation soapAction="messageservice/DeleteMessage" style="document" />
      <wsdl:input name="DeleteMessageRequest">
        <soap:header message="tns:DeleteMessageRequest_Headers" part="Security" use="literal" />
        <soap:header message="tns:DeleteMessageRequest_Headers" part="CustomInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultErrorFault">
        <soap:fault use="literal" name="FaultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMessages">
      <soap:operation soapAction="messageservice/GetAvailableMessages" style="document" />
      <wsdl:input name="GetAvailableMessagesRequest">
        <soap:header message="tns:GetAvailableMessagesRequest_Headers" part="Security" use="literal" />
        <soap:header message="tns:GetAvailableMessagesRequest_Headers" part="CustomInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAvailableMessagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultErrorFault">
        <soap:fault use="literal" name="FaultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <soap:operation soapAction="messageservice/PostMessage" style="document" />
      <wsdl:input name="PostMessageRequest">
        <soap:header message="tns:PostMessageRequest_Headers" part="Security" use="literal" />
        <soap:header message="tns:PostMessageRequest_Headers" part="CustomInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageServiceSoap">
    <wsdl:port name="MessageServiceSoap" binding="tns:MessageServiceSoap">
      <soap:address location="https://ws.oosterberg.nl/messageservice30/MessageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>