Service References/ClientPRDSalesCondition/prdsalescondition1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Compano.com/Modules/PRD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Compano.com/Modules/PRD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h5&gt;Introduction&lt;/h5&gt;
SalesConditionService is a generic webservice from &lt;a href="http://www.compano.com"&gt;Compano B.V.&lt;/a&gt; for accesing SalesCondition information.&lt;br/&gt;&lt;br/&gt;
Which consists of a number of functions for:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt;Selecting SalesCondition records using a basket.&lt;/li&gt;
    &lt;li&gt;Retrieving SalesCondition information from underlying memory database.&lt;/li&gt;
    &lt;li&gt;Updating SalesCondition information in underlying memory database.&lt;/li&gt;
&lt;/ol&gt;&lt;br/&gt;
A session on this site consists of:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt; Starting a session, using the &lt;b&gt;Login&lt;/b&gt; function on the &lt;b&gt;Application&lt;/b&gt; class.&lt;/li&gt;
    &lt;li&gt; Now you can use one of the functions defined on this class&lt;/li&gt;
    &lt;li&gt; Ending a session, using the &lt;b&gt;Logout&lt;/b&gt; function.&lt;/li&gt;
&lt;/ol&gt;
&lt;h5&gt;Errorhandling&lt;/h5&gt;
All services will return a string with an errormessage or an empty string when function is completed successfully.&lt;br/&gt;&lt;br/&gt;
&lt;h5&gt;Support&lt;/h5&gt;
For questions regarding these webservices or to apply for an &lt;b&gt;test account&lt;/b&gt; please contact Henk Koops e-mail hkoops@compano.com.&lt;br/&gt;&lt;br/&gt;
© &lt;a href="http://www.compano.nl"&gt;Compano B.V.&lt;/a&gt; 2007-2013</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Compano.com/Modules/PRD">
      <s:element name="GetDetailUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key" type="tns:SalesConditionKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SalesConditionKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SalesConditionAgreementNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerGroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesOrganizationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDetailUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailUrlResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="tns:ArrayOfSalesConditionKey" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfSalesConditionXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSalesConditionKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalesConditionKey" type="tns:SalesConditionKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSalesConditionXmlField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalesConditionXmlField" type="tns:SalesConditionXmlField" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SalesConditionXmlField">
        <s:restriction base="s:string">
          <s:enumeration value="BonusDiscount" />
          <s:enumeration value="BonusDiscount2" />
          <s:enumeration value="Code" />
          <s:enumeration value="ConditionType" />
          <s:enumeration value="ConstantNow" />
          <s:enumeration value="ConstantText" />
          <s:enumeration value="ConstantToday" />
          <s:enumeration value="ContactArchivedDateTime" />
          <s:enumeration value="ContactName" />
          <s:enumeration value="ContactNo" />
          <s:enumeration value="CustomerGroupCode" />
          <s:enumeration value="CustomerGroupDescription" />
          <s:enumeration value="CustomerGroupOrganizationContactEmail" />
          <s:enumeration value="CustomerGroupOrganizationContactFaxNo" />
          <s:enumeration value="CustomerGroupOrganizationContactFormalName" />
          <s:enumeration value="CustomerGroupOrganizationContactLegalEntityName" />
          <s:enumeration value="CustomerGroupOrganizationContactLegalEntityNo" />
          <s:enumeration value="CustomerGroupOrganizationContactLegalEntityShortName" />
          <s:enumeration value="CustomerGroupOrganizationContactLetterSalutation" />
          <s:enumeration value="CustomerGroupOrganizationContactLongName" />
          <s:enumeration value="CustomerGroupOrganizationContactMobileNo" />
          <s:enumeration value="CustomerGroupOrganizationContactName" />
          <s:enumeration value="CustomerGroupOrganizationContactNo" />
          <s:enumeration value="CustomerGroupOrganizationContactShortName" />
          <s:enumeration value="CustomerGroupOrganizationContactTelNo" />
          <s:enumeration value="CustomerGroupOrganizationContactVisitingAddressCity" />
          <s:enumeration value="Description" />
          <s:enumeration value="Discount1" />
          <s:enumeration value="Discount2" />
          <s:enumeration value="Discount3" />
          <s:enumeration value="DiscountAmount" />
          <s:enumeration value="Empty" />
          <s:enumeration value="EndDate" />
          <s:enumeration value="EndDateAsMonth" />
          <s:enumeration value="EndDateAsQuarter" />
          <s:enumeration value="EndDateAsWeek" />
          <s:enumeration value="EndDateAsYear" />
          <s:enumeration value="GroupCode" />
          <s:enumeration value="ImportDateTime" />
          <s:enumeration value="ImportDateTimeAsMonth" />
          <s:enumeration value="ImportDateTimeAsQuarter" />
          <s:enumeration value="ImportDateTimeAsWeek" />
          <s:enumeration value="ImportDateTimeAsYear" />
          <s:enumeration value="IsIncludeVat" />
          <s:enumeration value="IsValid" />
          <s:enumeration value="ItemCode" />
          <s:enumeration value="ItemDescription" />
          <s:enumeration value="LastModificationDateTime" />
          <s:enumeration value="LastModificationDateTimeAsMonth" />
          <s:enumeration value="LastModificationDateTimeAsQuarter" />
          <s:enumeration value="LastModificationDateTimeAsWeek" />
          <s:enumeration value="LastModificationDateTimeAsYear" />
          <s:enumeration value="LastOrNewMemo" />
          <s:enumeration value="LineSalesPrice" />
          <s:enumeration value="ModificationCode" />
          <s:enumeration value="NetPrice" />
          <s:enumeration value="PricePeriodCode" />
          <s:enumeration value="PricePeriodDescription" />
          <s:enumeration value="PricePeriodTerm" />
          <s:enumeration value="ProjectNo" />
          <s:enumeration value="SalesConditionAgreementNo" />
          <s:enumeration value="SalesOrganizationCode" />
          <s:enumeration value="SalesOrganizationShortDescription" />
          <s:enumeration value="StartDate" />
          <s:enumeration value="StartDateAsMonth" />
          <s:enumeration value="StartDateAsQuarter" />
          <s:enumeration value="StartDateAsWeek" />
          <s:enumeration value="StartDateAsYear" />
          <s:enumeration value="SummaryOfAllMemos" />
          <s:enumeration value="Surcharge" />
          <s:enumeration value="SurchargeAmount" />
          <s:enumeration value="SurchargeGrossPrice" />
          <s:enumeration value="Type" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfSalesConditionFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSalesConditionFilterField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalesConditionFilterField" type="tns:SalesConditionFilterField" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SalesConditionFilterField">
        <s:restriction base="s:string">
          <s:enumeration value="BonusDiscount" />
          <s:enumeration value="BonusDiscount2" />
          <s:enumeration value="Code" />
          <s:enumeration value="ConditionType" />
          <s:enumeration value="ConstantNow" />
          <s:enumeration value="ConstantToday" />
          <s:enumeration value="Contact" />
          <s:enumeration value="ContactArchivedDateTime" />
          <s:enumeration value="ContactName" />
          <s:enumeration value="ContactNo" />
          <s:enumeration value="CustomerGroup" />
          <s:enumeration value="CustomerGroupCode" />
          <s:enumeration value="CustomerGroupOrganizationContactEmail" />
          <s:enumeration value="CustomerGroupOrganizationContactFormalName" />
          <s:enumeration value="CustomerGroupOrganizationContactLegalEntityName" />
          <s:enumeration value="CustomerGroupOrganizationContactLegalEntityNo" />
          <s:enumeration value="CustomerGroupOrganizationContactLegalEntityShortName" />
          <s:enumeration value="CustomerGroupOrganizationContactLetterSalutation" />
          <s:enumeration value="CustomerGroupOrganizationContactLongName" />
          <s:enumeration value="CustomerGroupOrganizationContactName" />
          <s:enumeration value="CustomerGroupOrganizationContactNo" />
          <s:enumeration value="CustomerGroupOrganizationContactShortName" />
          <s:enumeration value="CustomerGroupOrganizationContactVisitingAddressCity" />
          <s:enumeration value="Discount1" />
          <s:enumeration value="Discount2" />
          <s:enumeration value="Discount3" />
          <s:enumeration value="DiscountAmount" />
          <s:enumeration value="Empty" />
          <s:enumeration value="EndDate" />
          <s:enumeration value="EndDateAsMonth" />
          <s:enumeration value="EndDateAsQuarter" />
          <s:enumeration value="EndDateAsWeek" />
          <s:enumeration value="EndDateAsYear" />
          <s:enumeration value="GroupCode" />
          <s:enumeration value="ImportDateTime" />
          <s:enumeration value="ImportDateTimeAsMonth" />
          <s:enumeration value="ImportDateTimeAsQuarter" />
          <s:enumeration value="ImportDateTimeAsWeek" />
          <s:enumeration value="ImportDateTimeAsYear" />
          <s:enumeration value="IsIncludeVat" />
          <s:enumeration value="IsValid" />
          <s:enumeration value="ItemCode" />
          <s:enumeration value="LastModificationDateTime" />
          <s:enumeration value="LastModificationDateTimeAsMonth" />
          <s:enumeration value="LastModificationDateTimeAsQuarter" />
          <s:enumeration value="LastModificationDateTimeAsWeek" />
          <s:enumeration value="LastModificationDateTimeAsYear" />
          <s:enumeration value="LineSalesPrice" />
          <s:enumeration value="ModificationCode" />
          <s:enumeration value="NetPrice" />
          <s:enumeration value="PricePeriod" />
          <s:enumeration value="PricePeriodCode" />
          <s:enumeration value="PricePeriodTerm" />
          <s:enumeration value="Project" />
          <s:enumeration value="ProjectNo" />
          <s:enumeration value="SalesConditionAgreement" />
          <s:enumeration value="SalesConditionAgreementNo" />
          <s:enumeration value="SalesConditionDiscounts" />
          <s:enumeration value="SalesOrganization" />
          <s:enumeration value="SalesOrganizationCode" />
          <s:enumeration value="SalesOrganizationShortDescription" />
          <s:enumeration value="StartDate" />
          <s:enumeration value="StartDateAsMonth" />
          <s:enumeration value="StartDateAsQuarter" />
          <s:enumeration value="StartDateAsWeek" />
          <s:enumeration value="StartDateAsYear" />
          <s:enumeration value="Surcharge" />
          <s:enumeration value="SurchargeAmount" />
          <s:enumeration value="SurchargeGrossPrice" />
          <s:enumeration value="Type" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="tns:ArrayOfSalesConditionKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="view" type="tns:SalesConditionViewOption" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SalesConditionViewOption">
        <s:restriction base="s:string">
          <s:enumeration value="SalesCondition" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetDefaultViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetDefaultViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterElements" type="tns:ArrayOfFilterElement" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfSalesConditionXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFilterElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FilterElement" nillable="true" type="tns:FilterElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FilterElement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ConditionType" type="tns:ConditionTypeOption" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value1" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ConditionTypeOption">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="EqualsField" />
          <s:enumeration value="GreaterThan" />
          <s:enumeration value="GreaterThanField" />
          <s:enumeration value="GreaterThanOrEquals" />
          <s:enumeration value="GreaterThanOrEqualsField" />
          <s:enumeration value="LesserThan" />
          <s:enumeration value="LesserThanField" />
          <s:enumeration value="LesserThanOrEquals" />
          <s:enumeration value="LesserThanOrEqualsField" />
          <s:enumeration value="Between" />
          <s:enumeration value="Outside" />
          <s:enumeration value="Contains" />
          <s:enumeration value="NotContains" />
          <s:enumeration value="EqualsNoCase" />
          <s:enumeration value="ItemInSet" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="InRange" />
          <s:enumeration value="NotNull" />
          <s:enumeration value="Null" />
          <s:enumeration value="HasChilds" />
          <s:enumeration value="HasNoChilds" />
          <s:enumeration value="InAudience" />
          <s:enumeration value="Approximately" />
          <s:enumeration value="ApproximatelyField" />
          <s:enumeration value="InRangeField" />
          <s:enumeration value="LastWeek" />
          <s:enumeration value="LastMonth" />
          <s:enumeration value="NextWeek" />
          <s:enumeration value="NextMonth" />
          <s:enumeration value="NotEquals" />
          <s:enumeration value="NotEqualsField" />
          <s:enumeration value="ItemNotInSet" />
          <s:enumeration value="HasUnarchivedChilds" />
          <s:enumeration value="HasNoUnarchivedChilds" />
          <s:enumeration value="All" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SelectAsJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAsJSONResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfSalesConditionFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfSalesConditionXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGridUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfSalesConditionFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGridUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGridUrlResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfSalesConditionXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewAsXmlResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewAsArrayResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SalesConditionKeys" type="tns:ArrayOfSalesConditionKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfSalesConditionFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewFilterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSortOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortExpression" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSortOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewSortOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key" type="tns:SalesConditionKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key" type="tns:SalesConditionKey" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Set">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key" type="tns:SalesConditionKey" />
            <s:element minOccurs="1" maxOccurs="1" name="field" type="tns:SalesConditionXmlField" />
            <s:element minOccurs="0" maxOccurs="1" name="newValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="tns:ArrayOfSalesConditionKey" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewCountResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetViewFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetViewFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetViewFilterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewAdvancedFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterElements" type="tns:ArrayOfFilterElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewAdvancedFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewAdvancedFilterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSearchText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSearchTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewSearchTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewFacet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selectedFacetItem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Facet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSelected" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfFacetItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectedItem" type="tns:FacetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFacetItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FacetItem" nillable="true" type="tns:FacetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FacetItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFacet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Facet" nillable="true" type="tns:Facet" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetViewFacetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewFacetResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="facets" type="tns:ArrayOfFacet" />
            <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDetailUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailUrl" />
  </wsdl:message>
  <wsdl:message name="GetDetailUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SetDefaultViewSoapIn">
    <wsdl:part name="parameters" element="tns:SetDefaultView" />
  </wsdl:message>
  <wsdl:message name="SetDefaultViewSoapOut">
    <wsdl:part name="parameters" element="tns:SetDefaultViewResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAsJSON" />
  </wsdl:message>
  <wsdl:message name="SelectAsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="GetGridUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetGridUrl" />
  </wsdl:message>
  <wsdl:message name="GetGridUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetGridUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewAsXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetViewAsXml" />
  </wsdl:message>
  <wsdl:message name="GetViewAsXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetViewAsXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:GetViewAsArray" />
  </wsdl:message>
  <wsdl:message name="GetViewAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:GetViewAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewFilterSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewFilter" />
  </wsdl:message>
  <wsdl:message name="SetViewFilterSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewFilterResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewSortOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewSortOrder" />
  </wsdl:message>
  <wsdl:message name="SetViewSortOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewSortOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetSoapIn">
    <wsdl:part name="parameters" element="tns:Set" />
  </wsdl:message>
  <wsdl:message name="SetSoapOut">
    <wsdl:part name="parameters" element="tns:SetResponse" />
  </wsdl:message>
  <wsdl:message name="SetAllSoapIn">
    <wsdl:part name="parameters" element="tns:SetAll" />
  </wsdl:message>
  <wsdl:message name="SetAllSoapOut">
    <wsdl:part name="parameters" element="tns:SetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetViewCount" />
  </wsdl:message>
  <wsdl:message name="GetViewCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetViewCountResponse" />
  </wsdl:message>
  <wsdl:message name="ResetViewFilterSoapIn">
    <wsdl:part name="parameters" element="tns:ResetViewFilter" />
  </wsdl:message>
  <wsdl:message name="ResetViewFilterSoapOut">
    <wsdl:part name="parameters" element="tns:ResetViewFilterResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewAdvancedFilterSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewAdvancedFilter" />
  </wsdl:message>
  <wsdl:message name="SetViewAdvancedFilterSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewAdvancedFilterResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewSearchTextSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewSearchText" />
  </wsdl:message>
  <wsdl:message name="SetViewSearchTextSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewSearchTextResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewFacetSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewFacet" />
  </wsdl:message>
  <wsdl:message name="SetViewFacetSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewFacetResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesConditionServiceSoap">
    <wsdl:operation name="GetDetailUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns an url for use in an Internet browser. The url will open a webpage with information about the requested SalesCondition record.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in SalesConditionKey key; The key of the requested record.&lt;/li&gt;
&lt;li&gt;out string url; The requested url.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetDetailUrlSoapIn" />
      <wsdl:output message="tns:GetDetailUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns the given fields of all records with given keys as an xml.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in SalesConditionKey[] keys; An array of alternative keys of the requested records.&lt;/li&gt;
&lt;li&gt;in SalesConditionXmlField[] fields; The requested &lt;a href="../Pages/Xslt.aspx?xslt=entity.xslt&amp;xml=Compano.System.Data.Modeling.MetaInfoRequest&amp;efn=PRD.SalesCondition"&gt;fields&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;out string xml; The requested information as a xml.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns a list of SalesConditionkeys that satisfy the filter given&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in string[] filterFields; The filterfields to use in the filter.&lt;/li&gt;
&lt;li&gt;in string[] filterValues; The filtervalues to use.&lt;/li&gt;
&lt;li&gt;in string[] searchText; The text to filter on.&lt;/li&gt;
&lt;li&gt;out SalesConditionKey[] keys; The requested SalesConditionKeys or null when not found.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultView">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets the default view for this session.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in SalesConditionViewOption view; The select view.&lt;/li&gt;
&lt;li&gt;out string url; The requested url.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetDefaultViewSoapIn" />
      <wsdl:output message="tns:SetDefaultViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAsJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns a JSON string that satisfy the filter given&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in FilterElement[] filterElements; Elements to filter on.&lt;/li&gt;&lt;/ul&gt;
&lt;li&gt;in SalesConditionXmlField[] fields; The requested &lt;a href="../Pages/Xslt.aspx?xslt=entity.xslt&amp;xml=Compano.System.Data.Modeling.MetaInfoRequest&amp;efn=PRD.SalesCondition"&gt;fields&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;out string json; The requested information as a json string.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SelectAsJSONSoapIn" />
      <wsdl:output message="tns:SelectAsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns a xml that satisfy the filter given&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in string[] filterFields; The filterfields to use in the filter.&lt;/li&gt;
&lt;li&gt;in string[] filterValues; The filtervalues to use.&lt;/li&gt;
&lt;li&gt;in string[] searchText; The text to filter on.&lt;/li&gt;
&lt;li&gt;in SalesConditionXmlField[] fields; The requested &lt;a href="../Pages/Xslt.aspx?xslt=entity.xslt&amp;xml=Compano.System.Data.Modeling.MetaInfoRequest&amp;efn=PRD.SalesCondition"&gt;fields&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;out string xml; The requested information as a xml.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SelectSoapIn" />
      <wsdl:output message="tns:SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGridUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns an url for use in an Internet browser. The url will open a webpage for searching SalesCondition records.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in FilterField[] filterFields; The fields to filter on (or null = no filter).&lt;/li&gt;
&lt;li&gt;in string[] filterValues; The filter values to use (or null = no filter)&lt;/li&gt;
&lt;li&gt;out string url; The requested url.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetGridUrlSoapIn" />
      <wsdl:output message="tns:GetGridUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewAsXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Return xml with given fields of all records in current SalesConditionView&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;in SalesConditionXmlField[] fields; Fields to use.&lt;/li&gt;
&lt;li&gt;out string xml; xml containing given fields of all records of current view.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetViewAsXmlSoapIn" />
      <wsdl:output message="tns:GetViewAsXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewAsArray">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Return xml with given fields of all records in current ProductView&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;out ProductKey[] productsKeys; array of keys of the records in the current view.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetViewAsArraySoapIn" />
      <wsdl:output message="tns:GetViewAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets a viewfilter on 1 or more fields eg on SalesConditionset&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in SalesConditionFilterField[] filterFields; Fields to filter on.&lt;/li&gt;
&lt;li&gt;in string[] filterValues; Fieldvalues of the fields to filter.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewFilterSoapIn" />
      <wsdl:output message="tns:SetViewFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewSortOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Set the sort order for this view&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;in sortExpression; sort expression for example: code asc, name desc&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewSortOrderSoapIn" />
      <wsdl:output message="tns:SetViewSortOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Adds a record to this table using given xml data.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in string xml; The data to use for the new record, same format as the output of GetInfo or Select.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Updates a record with given key and xml data.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in SalesConditionKey key; The key of the requested record.&lt;/li&gt;
&lt;li&gt;in string xml; The data to use for the record, same format as the output of GetInfo or Select.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Set">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets for a record with given key the data.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in SalesConditionKey key; The key of the requested record.&lt;/li&gt;
&lt;li&gt;in SalesConditionXmlField[] field; The field to set.&lt;/li&gt;
&lt;li&gt;in object newValue; The new value.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetSoapIn" />
      <wsdl:output message="tns:SetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets for multiple records a specified field to a specified value.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in SalesConditionKey[] keys; The keys of the records to update.&lt;/li&gt;
&lt;li&gt;in string fieldName; The name of the field to set.&lt;/li&gt;
&lt;li&gt;in object newValue; The new value.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetAllSoapIn" />
      <wsdl:output message="tns:SetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Reset current viewfilter&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;out int recordCount; Number of records in current view.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetViewCountSoapIn" />
      <wsdl:output message="tns:GetViewCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetViewFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Reset current viewfilter&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:ResetViewFilterSoapIn" />
      <wsdl:output message="tns:ResetViewFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewAdvancedFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets an advanced viewfilter on 1 or more fields.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in FilterElement[] filterElements; Elements to filter on.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewAdvancedFilterSoapIn" />
      <wsdl:output message="tns:SetViewAdvancedFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewSearchText">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets a search text for this view.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string searchText; Text to search on all relevant fields.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewSearchTextSoapIn" />
      <wsdl:output message="tns:SetViewSearchTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewFacet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Given the selected facetvalue or null to start and returns the meaningfull facets with their values, as well as the number of items fullfilling these facetvalues&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;in string selectedFacetItem; facetItem to start with.&lt;/li&gt;
&lt;li&gt;out Facet[] facets; relevant facets based on selectedFacetItem.&lt;/li&gt;
&lt;li&gt;out int recordCount; Number of items fullfilling the given facets.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewFacetSoapIn" />
      <wsdl:output message="tns:SetViewFacetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesConditionServiceSoap" type="tns:SalesConditionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetailUrl">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/GetDetailUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultView">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SetDefaultView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAsJSON">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SelectAsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridUrl">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/GetGridUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsXml">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/GetViewAsXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsArray">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/GetViewAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFilter">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SetViewFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSortOrder">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SetViewSortOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/Set" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAll">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewCount">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/GetViewCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetViewFilter">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/ResetViewFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewAdvancedFilter">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SetViewAdvancedFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSearchText">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SetViewSearchText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFacet">
      <soap:operation soapAction="http://Compano.com/Modules/PRD/SetViewFacet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesConditionServiceSoap12" type="tns:SalesConditionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetailUrl">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/GetDetailUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultView">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SetDefaultView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAsJSON">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SelectAsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridUrl">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/GetGridUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsXml">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/GetViewAsXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsArray">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/GetViewAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFilter">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SetViewFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSortOrder">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SetViewSortOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/Set" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAll">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewCount">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/GetViewCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetViewFilter">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/ResetViewFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewAdvancedFilter">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SetViewAdvancedFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSearchText">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SetViewSearchText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFacet">
      <soap12:operation soapAction="http://Compano.com/Modules/PRD/SetViewFacet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesConditionService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h5&gt;Introduction&lt;/h5&gt;
SalesConditionService is a generic webservice from &lt;a href="http://www.compano.com"&gt;Compano B.V.&lt;/a&gt; for accesing SalesCondition information.&lt;br/&gt;&lt;br/&gt;
Which consists of a number of functions for:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt;Selecting SalesCondition records using a basket.&lt;/li&gt;
    &lt;li&gt;Retrieving SalesCondition information from underlying memory database.&lt;/li&gt;
    &lt;li&gt;Updating SalesCondition information in underlying memory database.&lt;/li&gt;
&lt;/ol&gt;&lt;br/&gt;
A session on this site consists of:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt; Starting a session, using the &lt;b&gt;Login&lt;/b&gt; function on the &lt;b&gt;Application&lt;/b&gt; class.&lt;/li&gt;
    &lt;li&gt; Now you can use one of the functions defined on this class&lt;/li&gt;
    &lt;li&gt; Ending a session, using the &lt;b&gt;Logout&lt;/b&gt; function.&lt;/li&gt;
&lt;/ol&gt;
&lt;h5&gt;Errorhandling&lt;/h5&gt;
All services will return a string with an errormessage or an empty string when function is completed successfully.&lt;br/&gt;&lt;br/&gt;
&lt;h5&gt;Support&lt;/h5&gt;
For questions regarding these webservices or to apply for an &lt;b&gt;test account&lt;/b&gt; please contact Henk Koops e-mail hkoops@compano.com.&lt;br/&gt;&lt;br/&gt;
© &lt;a href="http://www.compano.nl"&gt;Compano B.V.&lt;/a&gt; 2007-2013</wsdl:documentation>
    <wsdl:port name="SalesConditionServiceSoap" binding="tns:SalesConditionServiceSoap">
      <soap:address location="http://ttt.online.compano.nl/prdsalescondition.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesConditionServiceSoap12" binding="tns:SalesConditionServiceSoap12">
      <soap12:address location="http://ttt.online.compano.nl/prdsalescondition.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>