Service References/ClientICSModellingClass/icsmodellingclass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Compano.com/Modules/ICS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Compano.com/Modules/ICS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h5&gt;Introduction&lt;/h5&gt;
ModellingClassService is a generic webservice from &lt;a href="http://www.compano.com"&gt;Compano B.V.&lt;/a&gt; for accesing ModellingClass information.&lt;br/&gt;&lt;br/&gt;
Which consists of a number of functions for:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt;Selecting ModellingClass records using a basket.&lt;/li&gt;
    &lt;li&gt;Retrieving ModellingClass information from underlying memory database.&lt;/li&gt;
    &lt;li&gt;Updating ModellingClass information in underlying memory database.&lt;/li&gt;
&lt;/ol&gt;&lt;br/&gt;
A session on this site consists of:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt; Starting a session, using the &lt;b&gt;Login&lt;/b&gt; function on the &lt;b&gt;Application&lt;/b&gt; class.&lt;/li&gt;
    &lt;li&gt; Now you can use one of the functions defined on this class&lt;/li&gt;
    &lt;li&gt; Ending a session, using the &lt;b&gt;Logout&lt;/b&gt; function.&lt;/li&gt;
&lt;/ol&gt;
&lt;h5&gt;Errorhandling&lt;/h5&gt;
All services will return a string with an errormessage or an empty string when function is completed successfully.&lt;br/&gt;&lt;br/&gt;
&lt;h5&gt;Support&lt;/h5&gt;
For questions regarding these webservices or to apply for an &lt;b&gt;test account&lt;/b&gt; please contact Henk Koops e-mail hkoops@compano.com.&lt;br/&gt;&lt;br/&gt;
© &lt;a href="http://www.compano.nl"&gt;Compano B.V.&lt;/a&gt; 2007-2013</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Compano.com/Modules/ICS">
      <s:element name="GetClassDrawingByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modellingClassCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassDrawingByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClassDrawingByCodeResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="key" type="tns:ModellingClassKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ModellingClassKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDetailUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailUrlResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="tns:ArrayOfModellingClassKey" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfModellingClassXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModellingClassKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModellingClassKey" type="tns:ModellingClassKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfModellingClassXmlField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModellingClassXmlField" type="tns:ModellingClassXmlField" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ModellingClassXmlField">
        <s:restriction base="s:string">
          <s:enumeration value="ArchivedDateTime" />
          <s:enumeration value="ArchivedDateTimeAsMonth" />
          <s:enumeration value="ArchivedDateTimeAsQuarter" />
          <s:enumeration value="ArchivedDateTimeAsWeek" />
          <s:enumeration value="ArchivedDateTimeAsYear" />
          <s:enumeration value="ClassCode" />
          <s:enumeration value="ClassCodeAndDescription" />
          <s:enumeration value="Code" />
          <s:enumeration value="ConstantNow" />
          <s:enumeration value="ConstantText" />
          <s:enumeration value="ConstantToday" />
          <s:enumeration value="CreationDateTime" />
          <s:enumeration value="CreationDateTimeAsMonth" />
          <s:enumeration value="CreationDateTimeAsQuarter" />
          <s:enumeration value="CreationDateTimeAsWeek" />
          <s:enumeration value="CreationDateTimeAsYear" />
          <s:enumeration value="Description" />
          <s:enumeration value="Drawing1" />
          <s:enumeration value="Drawing2" />
          <s:enumeration value="Drawing3" />
          <s:enumeration value="DrawingFilterAsText" />
          <s:enumeration value="Filter" />
          <s:enumeration value="IsArchived" />
          <s:enumeration value="LanguageCode" />
          <s:enumeration value="LastModificationDateTime" />
          <s:enumeration value="LastModificationDateTimeAsMonth" />
          <s:enumeration value="LastModificationDateTimeAsQuarter" />
          <s:enumeration value="LastModificationDateTimeAsWeek" />
          <s:enumeration value="LastModificationDateTimeAsYear" />
          <s:enumeration value="Origin" />
          <s:enumeration value="ReleaseStatus" />
          <s:enumeration value="SheetName" />
          <s:enumeration value="Status" />
          <s:enumeration value="VersionNo" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfModellingClassFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModellingClassFilterField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModellingClassFilterField" type="tns:ModellingClassFilterField" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ModellingClassFilterField">
        <s:restriction base="s:string">
          <s:enumeration value="ArchivedDateTime" />
          <s:enumeration value="ArchivedDateTimeAsMonth" />
          <s:enumeration value="ArchivedDateTimeAsQuarter" />
          <s:enumeration value="ArchivedDateTimeAsWeek" />
          <s:enumeration value="ArchivedDateTimeAsYear" />
          <s:enumeration value="Class" />
          <s:enumeration value="ClassCode" />
          <s:enumeration value="Code" />
          <s:enumeration value="ConstantNow" />
          <s:enumeration value="ConstantToday" />
          <s:enumeration value="Conversions" />
          <s:enumeration value="CreationDateTime" />
          <s:enumeration value="CreationDateTimeAsMonth" />
          <s:enumeration value="CreationDateTimeAsQuarter" />
          <s:enumeration value="CreationDateTimeAsWeek" />
          <s:enumeration value="CreationDateTimeAsYear" />
          <s:enumeration value="IsArchived" />
          <s:enumeration value="Language" />
          <s:enumeration value="LanguageCode" />
          <s:enumeration value="LastModificationDateTime" />
          <s:enumeration value="LastModificationDateTimeAsMonth" />
          <s:enumeration value="LastModificationDateTimeAsQuarter" />
          <s:enumeration value="LastModificationDateTimeAsWeek" />
          <s:enumeration value="LastModificationDateTimeAsYear" />
          <s:enumeration value="ModellingClassFeatures" />
          <s:enumeration value="Origin" />
          <s:enumeration value="Products" />
          <s:enumeration value="ReleaseStatus" />
          <s:enumeration value="SheetName" />
          <s:enumeration value="Status" />
          <s:enumeration value="VersionNo" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="tns:ArrayOfModellingClassKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="view" type="tns:ModellingClassViewOption" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ModellingClassViewOption">
        <s:restriction base="s:string">
          <s:enumeration value="ModellingClass" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetDefaultViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetDefaultViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterElements" type="tns:ArrayOfFilterElement" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfModellingClassXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFilterElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FilterElement" nillable="true" type="tns:FilterElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FilterElement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ConditionType" type="tns:ConditionTypeOption" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value1" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ConditionTypeOption">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="EqualsField" />
          <s:enumeration value="GreaterThan" />
          <s:enumeration value="GreaterThanField" />
          <s:enumeration value="GreaterThanOrEquals" />
          <s:enumeration value="GreaterThanOrEqualsField" />
          <s:enumeration value="LesserThan" />
          <s:enumeration value="LesserThanField" />
          <s:enumeration value="LesserThanOrEquals" />
          <s:enumeration value="LesserThanOrEqualsField" />
          <s:enumeration value="Between" />
          <s:enumeration value="Outside" />
          <s:enumeration value="Contains" />
          <s:enumeration value="NotContains" />
          <s:enumeration value="EqualsNoCase" />
          <s:enumeration value="ItemInSet" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="InRange" />
          <s:enumeration value="NotNull" />
          <s:enumeration value="Null" />
          <s:enumeration value="HasChilds" />
          <s:enumeration value="HasNoChilds" />
          <s:enumeration value="InAudience" />
          <s:enumeration value="Approximately" />
          <s:enumeration value="ApproximatelyField" />
          <s:enumeration value="InRangeField" />
          <s:enumeration value="LastWeek" />
          <s:enumeration value="LastMonth" />
          <s:enumeration value="NextWeek" />
          <s:enumeration value="NextMonth" />
          <s:enumeration value="NotEquals" />
          <s:enumeration value="NotEqualsField" />
          <s:enumeration value="ItemNotInSet" />
          <s:enumeration value="HasUnarchivedChilds" />
          <s:enumeration value="HasNoUnarchivedChilds" />
          <s:enumeration value="All" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SelectAsJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAsJSONResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfModellingClassFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfModellingClassXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGridUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfModellingClassFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGridUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGridUrlResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfModellingClassXmlField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewAsXmlResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewAsArrayResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ModellingClassKeys" type="tns:ArrayOfModellingClassKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterFields" type="tns:ArrayOfModellingClassFilterField" />
            <s:element minOccurs="0" maxOccurs="1" name="filterValues" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewFilterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSortOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortExpression" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSortOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewSortOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewCountResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetViewFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetViewFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetViewFilterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewAdvancedFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterElements" type="tns:ArrayOfFilterElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewAdvancedFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewAdvancedFilterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSearchText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewSearchTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewSearchTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetViewFacet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selectedFacetItem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Facet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSelected" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfFacetItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectedItem" type="tns:FacetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFacetItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FacetItem" nillable="true" type="tns:FacetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FacetItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFacet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Facet" nillable="true" type="tns:Facet" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetViewFacetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetViewFacetResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="facets" type="tns:ArrayOfFacet" />
            <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClassDrawingByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetClassDrawingByCode" />
  </wsdl:message>
  <wsdl:message name="GetClassDrawingByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassDrawingByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDetailUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailUrl" />
  </wsdl:message>
  <wsdl:message name="GetDetailUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SetDefaultViewSoapIn">
    <wsdl:part name="parameters" element="tns:SetDefaultView" />
  </wsdl:message>
  <wsdl:message name="SetDefaultViewSoapOut">
    <wsdl:part name="parameters" element="tns:SetDefaultViewResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAsJSON" />
  </wsdl:message>
  <wsdl:message name="SelectAsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="GetGridUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetGridUrl" />
  </wsdl:message>
  <wsdl:message name="GetGridUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetGridUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewAsXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetViewAsXml" />
  </wsdl:message>
  <wsdl:message name="GetViewAsXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetViewAsXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:GetViewAsArray" />
  </wsdl:message>
  <wsdl:message name="GetViewAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:GetViewAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewFilterSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewFilter" />
  </wsdl:message>
  <wsdl:message name="SetViewFilterSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewFilterResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewSortOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewSortOrder" />
  </wsdl:message>
  <wsdl:message name="SetViewSortOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewSortOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetViewCount" />
  </wsdl:message>
  <wsdl:message name="GetViewCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetViewCountResponse" />
  </wsdl:message>
  <wsdl:message name="ResetViewFilterSoapIn">
    <wsdl:part name="parameters" element="tns:ResetViewFilter" />
  </wsdl:message>
  <wsdl:message name="ResetViewFilterSoapOut">
    <wsdl:part name="parameters" element="tns:ResetViewFilterResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewAdvancedFilterSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewAdvancedFilter" />
  </wsdl:message>
  <wsdl:message name="SetViewAdvancedFilterSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewAdvancedFilterResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewSearchTextSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewSearchText" />
  </wsdl:message>
  <wsdl:message name="SetViewSearchTextSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewSearchTextResponse" />
  </wsdl:message>
  <wsdl:message name="SetViewFacetSoapIn">
    <wsdl:part name="parameters" element="tns:SetViewFacet" />
  </wsdl:message>
  <wsdl:message name="SetViewFacetSoapOut">
    <wsdl:part name="parameters" element="tns:SetViewFacetResponse" />
  </wsdl:message>
  <wsdl:portType name="ModellingClassServiceSoap">
    <wsdl:operation name="GetClassDrawingByCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns the specified ModellingClass as XML including Class, Features and Values.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in string modellingClassCode; The identifying code of the requested record.&lt;/li&gt;
&lt;li&gt;out string xml; The requested information as XML.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetClassDrawingByCodeSoapIn" />
      <wsdl:output message="tns:GetClassDrawingByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns an url for use in an Internet browser. The url will open a webpage with information about the requested ModellingClass record.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in ModellingClassKey key; The key of the requested record.&lt;/li&gt;
&lt;li&gt;out string url; The requested url.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetDetailUrlSoapIn" />
      <wsdl:output message="tns:GetDetailUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns the given fields of all records with given keys as an xml.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in ModellingClassKey[] keys; An array of alternative keys of the requested records.&lt;/li&gt;
&lt;li&gt;in ModellingClassXmlField[] fields; The requested &lt;a href="../Pages/Xslt.aspx?xslt=entity.xslt&amp;xml=Compano.System.Data.Modeling.MetaInfoRequest&amp;efn=ICS.ModellingClass"&gt;fields&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;out string xml; The requested information as a xml.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns a list of ModellingClasskeys that satisfy the filter given&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in string[] filterFields; The filterfields to use in the filter.&lt;/li&gt;
&lt;li&gt;in string[] filterValues; The filtervalues to use.&lt;/li&gt;
&lt;li&gt;in string[] searchText; The text to filter on.&lt;/li&gt;
&lt;li&gt;out ModellingClassKey[] keys; The requested ModellingClassKeys or null when not found.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultView">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets the default view for this session.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in ModellingClassViewOption view; The select view.&lt;/li&gt;
&lt;li&gt;out string url; The requested url.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetDefaultViewSoapIn" />
      <wsdl:output message="tns:SetDefaultViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAsJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns a JSON string that satisfy the filter given&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in FilterElement[] filterElements; Elements to filter on.&lt;/li&gt;&lt;/ul&gt;
&lt;li&gt;in ModellingClassXmlField[] fields; The requested &lt;a href="../Pages/Xslt.aspx?xslt=entity.xslt&amp;xml=Compano.System.Data.Modeling.MetaInfoRequest&amp;efn=ICS.ModellingClass"&gt;fields&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;out string json; The requested information as a json string.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SelectAsJSONSoapIn" />
      <wsdl:output message="tns:SelectAsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns a xml that satisfy the filter given&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in string[] filterFields; The filterfields to use in the filter.&lt;/li&gt;
&lt;li&gt;in string[] filterValues; The filtervalues to use.&lt;/li&gt;
&lt;li&gt;in string[] searchText; The text to filter on.&lt;/li&gt;
&lt;li&gt;in ModellingClassXmlField[] fields; The requested &lt;a href="../Pages/Xslt.aspx?xslt=entity.xslt&amp;xml=Compano.System.Data.Modeling.MetaInfoRequest&amp;efn=ICS.ModellingClass"&gt;fields&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;out string xml; The requested information as a xml.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SelectSoapIn" />
      <wsdl:output message="tns:SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGridUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Returns an url for use in an Internet browser. The url will open a webpage for searching ModellingClass records.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionHandle; The unique identification of this session.&lt;/li&gt;
&lt;li&gt;in FilterField[] filterFields; The fields to filter on (or null = no filter).&lt;/li&gt;
&lt;li&gt;in string[] filterValues; The filter values to use (or null = no filter)&lt;/li&gt;
&lt;li&gt;out string url; The requested url.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetGridUrlSoapIn" />
      <wsdl:output message="tns:GetGridUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewAsXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Return xml with given fields of all records in current ModellingClassView&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;in ModellingClassXmlField[] fields; Fields to use.&lt;/li&gt;
&lt;li&gt;out string xml; xml containing given fields of all records of current view.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetViewAsXmlSoapIn" />
      <wsdl:output message="tns:GetViewAsXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewAsArray">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Return xml with given fields of all records in current ProductView&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;out ProductKey[] productsKeys; array of keys of the records in the current view.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetViewAsArraySoapIn" />
      <wsdl:output message="tns:GetViewAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets a viewfilter on 1 or more fields eg on ModellingClassset&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in ModellingClassFilterField[] filterFields; Fields to filter on.&lt;/li&gt;
&lt;li&gt;in string[] filterValues; Fieldvalues of the fields to filter.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewFilterSoapIn" />
      <wsdl:output message="tns:SetViewFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewSortOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Set the sort order for this view&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;in sortExpression; sort expression for example: code asc, name desc&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewSortOrderSoapIn" />
      <wsdl:output message="tns:SetViewSortOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Reset current viewfilter&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;out int recordCount; Number of records in current view.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetViewCountSoapIn" />
      <wsdl:output message="tns:GetViewCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetViewFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Reset current viewfilter&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:ResetViewFilterSoapIn" />
      <wsdl:output message="tns:ResetViewFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewAdvancedFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets an advanced viewfilter on 1 or more fields.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in FilterElement[] filterElements; Elements to filter on.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewAdvancedFilterSoapIn" />
      <wsdl:output message="tns:SetViewAdvancedFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewSearchText">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Sets a search text for this view.&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string searchText; Text to search on all relevant fields.&lt;/li&gt;&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewSearchTextSoapIn" />
      <wsdl:output message="tns:SetViewSearchTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetViewFacet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Given the selected facetvalue or null to start and returns the meaningfull facets with their values, as well as the number of items fullfilling these facetvalues&lt;br/&gt;&lt;br/&gt;Parameters:&lt;br/&gt;&lt;ul&gt;
&lt;li&gt;in string sessionhandle; Handle to current session.&lt;/li&gt;
&lt;li&gt;in string selectedFacetItem; facetItem to start with.&lt;/li&gt;
&lt;li&gt;out Facet[] facets; relevant facets based on selectedFacetItem.&lt;/li&gt;
&lt;li&gt;out int recordCount; Number of items fullfilling the given facets.&lt;/li&gt;
&lt;/ul&gt;</wsdl:documentation>
      <wsdl:input message="tns:SetViewFacetSoapIn" />
      <wsdl:output message="tns:SetViewFacetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModellingClassServiceSoap" type="tns:ModellingClassServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClassDrawingByCode">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/GetClassDrawingByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailUrl">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/GetDetailUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultView">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/SetDefaultView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAsJSON">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/SelectAsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridUrl">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/GetGridUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsXml">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/GetViewAsXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsArray">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/GetViewAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFilter">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/SetViewFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSortOrder">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/SetViewSortOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewCount">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/GetViewCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetViewFilter">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/ResetViewFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewAdvancedFilter">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/SetViewAdvancedFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSearchText">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/SetViewSearchText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFacet">
      <soap:operation soapAction="http://Compano.com/Modules/ICS/SetViewFacet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ModellingClassServiceSoap12" type="tns:ModellingClassServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClassDrawingByCode">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/GetClassDrawingByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailUrl">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/GetDetailUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultView">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/SetDefaultView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAsJSON">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/SelectAsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridUrl">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/GetGridUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsXml">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/GetViewAsXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewAsArray">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/GetViewAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFilter">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/SetViewFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSortOrder">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/SetViewSortOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewCount">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/GetViewCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetViewFilter">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/ResetViewFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewAdvancedFilter">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/SetViewAdvancedFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewSearchText">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/SetViewSearchText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetViewFacet">
      <soap12:operation soapAction="http://Compano.com/Modules/ICS/SetViewFacet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModellingClassService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h5&gt;Introduction&lt;/h5&gt;
ModellingClassService is a generic webservice from &lt;a href="http://www.compano.com"&gt;Compano B.V.&lt;/a&gt; for accesing ModellingClass information.&lt;br/&gt;&lt;br/&gt;
Which consists of a number of functions for:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt;Selecting ModellingClass records using a basket.&lt;/li&gt;
    &lt;li&gt;Retrieving ModellingClass information from underlying memory database.&lt;/li&gt;
    &lt;li&gt;Updating ModellingClass information in underlying memory database.&lt;/li&gt;
&lt;/ol&gt;&lt;br/&gt;
A session on this site consists of:&lt;br/&gt;&lt;br/&gt;
&lt;ol&gt;
    &lt;li&gt; Starting a session, using the &lt;b&gt;Login&lt;/b&gt; function on the &lt;b&gt;Application&lt;/b&gt; class.&lt;/li&gt;
    &lt;li&gt; Now you can use one of the functions defined on this class&lt;/li&gt;
    &lt;li&gt; Ending a session, using the &lt;b&gt;Logout&lt;/b&gt; function.&lt;/li&gt;
&lt;/ol&gt;
&lt;h5&gt;Errorhandling&lt;/h5&gt;
All services will return a string with an errormessage or an empty string when function is completed successfully.&lt;br/&gt;&lt;br/&gt;
&lt;h5&gt;Support&lt;/h5&gt;
For questions regarding these webservices or to apply for an &lt;b&gt;test account&lt;/b&gt; please contact Henk Koops e-mail hkoops@compano.com.&lt;br/&gt;&lt;br/&gt;
© &lt;a href="http://www.compano.nl"&gt;Compano B.V.&lt;/a&gt; 2007-2013</wsdl:documentation>
    <wsdl:port name="ModellingClassServiceSoap" binding="tns:ModellingClassServiceSoap">
      <soap:address location="http://ttt.online.compano.nl/icsmodellingclass.asmx" />
    </wsdl:port>
    <wsdl:port name="ModellingClassServiceSoap12" binding="tns:ModellingClassServiceSoap12">
      <soap12:address location="http://ttt.online.compano.nl/icsmodellingclass.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>